/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menu.css =======================================================
  == Styles used by XUL menu-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menu/menuitem ::::: */

menu,
menuitem,
menucaption,
.splitmenu-menuitem {
  -moz-appearance: menuitem;
  -moz-box-align: center;
  -moz-margin-start: 2px !important;
  -moz-margin-end: 1px !important;
  color: MenuText;
  font: menu;
  list-style-image: none;
  -moz-image-region: auto;
}

menuitem[default="true"] {
  font-weight: bold;
}

menu[disabled="true"],
menuitem[disabled="true"],
.splitmenu-menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"],
.splitmenu-menuitem[_moz-menuactive="true"][disabled="true"] {
  color: GrayText;
  text-shadow: none;
}

menuitem.spell-suggestion {
  font-weight: bold;
}

/* ..... internal content .... */

.menu-accel,
.menu-iconic-accel,
.menu-text,
.menu-iconic-text {
  margin: 0px !important;
  padding: 1px 0px;
  color: inherit;
}

.menu-text {
  -moz-padding-start: 1.45em !important;
  -moz-appearance: menuitemtext;
}

.menu-text,
.menu-iconic-text {
  font-weight: inherit;
  -moz-margin-start: 2px !important;
  -moz-padding-end: 2px;
}

menucaption > .menu-text,
menucaption > .menu-iconic-text {
  font-weight: bold;
  -moz-padding-start: 0 !important;
}

.menu-description {
  font-style: italic;
  color: GrayText;
  -moz-margin-start: 1ex !important;
}

.menu-accel,
.menu-iconic-accel {
  color: inherit;
  -moz-margin-start: 0.74em !important;
  -moz-margin-end: 1.35em !important;
}

.menu-iconic-left {
  min-width: 1.45em;
}

.menu-iconic-icon {
  max-width: 16px;
  max-height: 16px;
  margin-top: -1px !important;
  margin-bottom: 1px !important;
}

menu.menu-iconic > .menu-iconic-left,
menuitem.menuitem-iconic > .menu-iconic-left,
.splitmenu-menuitem[iconic="true"] > .menu-iconic-left {
  -moz-appearance: menuimage;
  padding-top: 2px;
}

/* ..... menu arrow box ..... */

.menu-right {
  -moz-appearance: menuarrow;
  margin-top: 2px;
  margin-bottom: 3px;
  -moz-padding-end: 6px;
  list-style-image: none;
  list-style-image: url("chrome://global/skin/menu/Menu-arrow.png");
  -moz-image-region: auto;
}

/* ::::: menu/menuitems in menubar ::::: */

menubar > menu {
  border: 0;
  -moz-margin-start: 2px;
  -moz-margin-end: 3px;
  margin-top: 2px;
  margin-bottom: 0;
}

menubar > menu[_moz-menuactive="true"] {
  color: -moz-MenuBarHoverText;
  background-color: -moz-MenuHover;
}

menubar > menu:-moz-lwtheme {
  -moz-appearance: none;
  border-style: none;
}

menubar > menu:-moz-lwtheme:not([disabled="true"]) {
  color: inherit !important;
}

menubar > menu:-moz-lwtheme[_moz-menuactive="true"]:not([disabled="true"]) {
  background-color: Highlight;
  color: HighlightText !important;
  text-shadow: none;
}

/* ..... internal content .... */

.menubar-left {
  color: inherit;
}

.menubar-text {
  color: inherit;
}

/* ::::: menu/menuitems in popups ::::: */

menupopup > menu,
menupopup > menuitem,
menupopup > menucaption {
  max-width: 42em;
}

menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"],
.splitmenu-menuitem[_moz-menuactive="true"] {
  background-color: -moz-menuhover;
  color: -moz-menuhovertext;
}

/* ::::: menu/menuitems in menulist popups ::::: */

menulist > menupopup > menuitem,
menulist > menupopup > menucaption,
menulist > menupopup > menu {
  -moz-appearance: none !important;
  border: 1px solid transparent;
  -moz-padding-start: 5px;
  -moz-padding-end: 5px;
  max-width: none;
  font: message-box;
  color: -moz-FieldText;
}

menulist > menupopup > menuitem[_moz-menuactive="true"],
menulist > menupopup > menu[_moz-menuactive="true"] {
  background-color: highlight;
  color: highlighttext;
}

menulist > menupopup > menuitem > .menu-iconic-left,
menulist > menupopup > menucaption > .menu-iconic-left,
menulist > menupopup > menu > .menu-iconic-left {
  display: none;
}

menulist > menupopup > menuitem > label,
menulist > menupopup > menucaption > label,
menulist > menupopup > menu > label {
  padding-top: 0px;
  padding-bottom: 0px;
}

menulist:-moz-focusring > menupopup > menuitem[_moz-menuactive="true"] {
  border: 1px dotted #F5DB95;
}

menulist > menupopup > menuitem[_moz-menuactive="true"][disabled="true"] {
  color: GrayText;
}

menulist > menupopup > menuitem[disabled="true"]:not([_moz-menuactive="true"]):-moz-system-metric(windows-classic) {
  color: GrayText;
  text-shadow: none;
}

menulist > menupopup > :-moz-any(menuitem, menucaption):not(.menuitem-iconic) > .menu-iconic-text {
  margin: 0 !important;
}

/* ::::: checkbox menuitem and radio menuitem ::::: */
/* :::::::: (both appear the same on OS/2) :::::::: */

menuitem[checked="true"] {
  list-style-image: url("chrome://global/skin/menu/menu-check.gif");
  -moz-image-region: auto;
}

/* ::::: menuseparator ::::: */

menuseparator {
  -moz-appearance: menuseparator;
  margin: 3px 0 3px 0 !important;
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
}

menulist > menupopup > menuseparator,
.menulist-menupopup > menuseparator {
  margin: 0;
  border-top: 1px solid #000000;
  border-bottom: none;
}

/* ::::: autocomplete ::::: */

.autocomplete-history-popup > menuitem {
  max-width: none !important;
  font: message-box;
}

/* ::::: tree column picker ::::: */

.treecell-popupcell-menu {
  -moz-margin-start: -2px;
  list-style-image: url("chrome://global/skin/columnselect.gif");
  -moz-image-region: auto;
}
